.titulo {
  margin-top: 20px; }
  .titulo a {
    text-decoration: none;
    text-align: center; }
    .titulo a h1 {
      font-size: 80px;
      font-family: 'Times New Roman', Times, serif; }

.bodyIndex {
  background-image: url(/imagenes/fonditoindex.jpg); }

.naveGador {
  background-color: #457b9d;
  border-radius: 15px; }

.mainIndex {
  margin-top: 30px; }

.botonKids {
  display: flex;
  justify-content: center; }

.mainProductos {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; }
