

.titulo{
    margin-top: 20px;
    a{
        text-decoration: none;
        text-align: center;
        h1{
            font-size: 80px;
            font-family:'Times New Roman', Times, serif;
        }
    }
}

.bodyIndex{
    background-image: url(/imagenes/fonditoindex.jpg);
    
}
.naveGador{
    
    background-color: #000000;
    
}
.mainIndex{
   
    
    
    gap: 10px;
    margin-top: 30px;
    height: 300px;
    width: 300px;
}
.mainProductos{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.pieSito{
    margin-bottom: auto;
    a{color:#000000
    };

}